body, html {
    font-family: Arial, sans-serif;
    background-image: url(./img/12.jpg);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Added for vertical centering */
}

h1, h3 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #000000;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.logo-container {
    width: 20%;
    height: 10%;
    background-color: #003366;
    border-radius: 60px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    position: absolute;
    top: 6%;
    left: 3%; 
    display: flex;
    align-items: center; 
    justify-content: center;
  }
  
  .logo-container img {
    width: 65%;
    height: auto; 
  }
  

h3 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.body {
    width: 90%;
    max-width: 400px; /* Ensures it doesn't get too wide */
    background-color: #ffffffa9;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.correo {
    margin: 20px 0;
}

.correo label {
    display: block;
    font-size: 14px;
    color: #333333;
    margin-bottom: 5px;
}

.correo input {
    width: 100%;
    padding: 10px;
    background-color: #0000007c;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
}

.button {
    text-align: center;
    margin-top: 20px;
}

.button button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #2423238c;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.button button:hover {
    background-color: #003366;
    color: #ffffff;
    transition: 0.5s;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .body {
        padding: 30px;
    }

    h1 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    .button button {
        padding: 8px;
        border-radius: 20px;
    }
}

@media (max-width: 480px) {
    .body {
        padding: 20px;
    }

    h1 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    .button button {
        padding: 6px;
        border-radius: 15px;
    }
}
